@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --hover-clr: rgb(218, 249, 255);
  --primary-clr: rgb(0, 0, 255);
  --secondary-clr: rgb(73, 228, 255);
  --shadow: rgb(170, 170, 170);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
}

.navbar-container {
  width: 100%;
  background-color: var(--primary-clr);
  color: var(--white);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Allura", cursive;
  font-size: 37px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.links {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: 22px;
  font-weight: 500;
}
.link:hover {
  scale: 1.1;
  color: var(--secondary-clr);
}

.link:focus {
  text-decoration: underline;
  color: var(--secondary-clr);
}

.icon {
  margin: 0px 5px 5px 0px;
}

.pages {
  padding-top: 5rem;
}

.error-page {
  position: absolute;
  top: 30%;
  left: 20%;
  color: rgb(255, 0, 0);
}

.error-link {
  color: var(--primary-clr);
  font-size: 24px;
}

.home {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog-list {
  margin: 10px;
  letter-spacing: 0.8px;
}

.preview {
  width: auto;
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 5px;
}

.blog-link {
  text-decoration: none;
  color: var(--black);
}

.preview-title {
  font-size: 25px;
}

.preview:hover {
  background-color: var(--hover-clr);
  box-shadow: 0 8px 8px -4px var(--secondary-clr);
}

.blog-title {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: capitalize;
}

.blog-author {
  padding-left: 10px;
  font-style: italic;
  text-transform: capitalize;
}

.new-blog {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5px;
}

.new-blog-header {
  color: var(--primary-clr);
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
}

.form label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
}

.form input {
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  font-size: 20px;
  margin-bottom: 25px;
  border-radius: 7px;
  border: 2px solid var(--primary-clr);
  outline: none;
}

.form textarea {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 2px solid var(--primary-clr);
  outline: none;
  line-height: 1.5;
}

input:focus {
  outline: none;
  border-radius: 0;
  border: 0px;
  border-bottom: 2px solid var(--primary-clr);
}

.submit-btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
  padding: 3px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
  letter-spacing: 1.5px;
  background-color: var(--primary-clr);
  color: var(--white);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}
.submit-btn:hover {
  background-color: var(--secondary-clr);
  color: var(--black);
}

.submit-btn:active {
  scale: 0.95;
  box-shadow: 0px solid var(--white);
}

.blog-details {
  margin: auto;
  width: 50%;
}

.blog-details-title {
  text-transform: capitalize;
}

.blog-details-author {
  margin: 3px auto;
  font-style: italic;
  text-transform: capitalize;
}
.blog-details-body {
  padding: 15px 5px 5px 30px;
}

.delete-btn {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 3px 8px;
  margin: 1rem 10px 2rem 3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--secondary-clr);
  color: var(--black);
}
.delete-btn:hover {
  color: var(--white);
  background-color: var(--primary-clr);
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 25px;
  }
  .navbar {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .link {
    width: auto;
    font-size: 14px;
  }
  .icon {
    margin: 0px 5px 3px 0px;
  }
  .home {
    margin: auto;
    width: 90%;
  }
  .preview-title {
    font-size: 22px;
  }
  .blog-title {
    font-size: 18px;
  }
  .blog-author {
    font-size: 13px;
  }
  .blog-details {
    width: 80%;
  }
  .blog-details-author {
    font-size: 13px;
  }
  .blog-details-body {
    padding: 15px 5px 5px 15px;
    font-size: 15px;
  }
  .blog-details-title {
    font-size: 18px;
  }
  .new-blog {
    width: 90%;
  }
  .form {
    margin: auto;
    padding: 2rem 0;
    width: 90%;
  }
  .new-blog-header {
    font-size: 20px;
  }
  .form label {
    font-size: 16px;
  }
  .form input{
    width: 90%;
    font-size: 16px;
  }
  .form textarea{
    width: 90%;
    font-size: 16px;
  }
}
